Repository UPB-FILS-MA/upb-fils-ma.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: acs_cc, file_en, lecture, lab, tutorial, project, workflow, website, slides

run workflow
  .github/workflows/test-deploy.yml
Labels: workflow

workflow
  .github/workflows/test-deploy.yml
Labels: workflow

fix workflow
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
Labels: workflow

build in bash
  build.sh
  slides/build.sh
Labels: slides

Update README.md
  README.md
Labels: none

stop the workflow for push
  .github/workflows/test-deploy.yml
Labels: workflow

.github/labeler.yml:

acs_cc:
  - website/versioned_docs/version-acs_cc/**/*
  - website/versioned_sidebars/version-acs_cc-sidebars.json

file_en:
  - website/versioned_docs/version-file_en/**/*
  - website/versioned_sidebars/version-file_en-sidebars.json

lecture:
  - website/versioned_docs/*/lecture/**/*

lab:
  - website/lab/**/*

tutorial:
  - website/tutorial/**/*

project:
  - website/versioned_docs/*/project/**/*
  - website/versioned_docs/*/project.md

workflow:
  - .github/**/*

website:
  - website/src/**/*
  - website/static/**/*
  - '*.js'
  - '*.json'
  - '*.ts'

slides:
  - slides/**/*
